<div class="container col-md-4">
  <p id="alert"><%= alert %></p>
  <h4>Login</h4>
  
  <%= form_for login_path do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'Email here.' %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Password here.' %>
  </div>
  <div class="actions">
    <%= f.submit "Login", class: 'btn btn-primary btn-sm' %>
  </div>
  <% end %>

</div>