<div class="col-md-12 d-flex flex-wrap m-0">
	<div class="p-3 m-2 bg-custom-gray col-md-6 border border-custom flex-0-48">
		<%= render 'posts/post', {post: @post} %>
	</div>
	<div class="p-3 pb-10 m-2 bg-custom-gray col-md-6 border border-custom flex-0-48 " style="height: 500px;">
		<div>
			<h4>Comments</h4>
		</div>
		<% if current_user %>
		<div class="overflow-auto" style="height: 60%;" >
			<% else %>
			<div class="overflow-auto" style="height: 90%;" >
				<% end %>
				<%= render 'comments/list', {post: @post} %>
			</div>


			<% if current_user %>
			<div class="h-25">

				<%= simple_form_for @comment, url: post_comments_path(@post.id), remote: true do |f| %>

				<div class="form-group pb-2">
					<%= f.input :comment, placeholder: "Add Comment" %>
					<%= f.submit "Add Comment", class: 'mt-2 btn btn-sm btn-primary' %>
				</div>
				<% end %>

			</div>
			<% end %>
		</div>
	</div>