<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, class: 'form-control', placeholder: 'Choose a username' %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control', placeholder: 'Enter Email. Eg: someone@gmail.com' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control', placeholder: 'Password here.' %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: 'form-control', placeholder: 'Re-enter password.' %>
  </div>

  <div class="field">
    <%= form.file_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Back', users_path, class: 'btn btn-danger btn-sm' %>
  </div>
<% end %>
