<% if @users.any? %>
<div class="col-md-12 d-flex flex-wrap justify-content-around">
  <% @users.each do |user| %>
  <% if current_user != user %>

  <div class="card mb-4 mr-5" style="width: 18rem;">
    <%= image_tag (user.photo.present? ? user.photo : 'user.jpg'), class: 'card-img-top profile_pic_card' %>
    <div class="card-body">
      <h5 class="card-title"><%= (user.username) ? (user.username) : (user.email) %></h5>

        <%= link_to pluralize(user.posts.count, 'post'), user %>, <%= pluralize(user.followers.count, 'follower') %>
        <%= render 'follows/follow_btn', {user: user} %>    

    </div>
  </div>

  <% end %>
  <% end %>
</div>
<% else %>
<div class="col-md-9 offset-md-1 bg-custom-gray pt-5" style="height: 200px;">
  <center>
    <h2>No User</h2>
  </center>
</div>
<% end %>