<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<div class="container">

	<% @user.posts.each do |post| %>

		<%= render 'posts/post', {post: post} %>
		
		<% if current_user %>
			<%= link_to "Add Comment", post_comments_path(post.id), class: 'btn btn-default btn-primary' %>
		<% end %>

		<% if current_user == post.user %>
			<%= link_to "Edit Post", edit_post_path(post), class: 'btn btn-info' %>
			<%= link_to "Delete Post", post_path(post), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure?"} %>
		<% end %>
	
	<% end %>
</div>

<%= link_to 'Back', users_path %>
